<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to Glitch!</title>
    <meta name="Image Search Abstraction Layer" content="FCC API Project 4">
    <link id="favicon" rel="icon" href="https://jeuscortez-image-search-abstraction-layer.glitch.me/" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1>
       FreeCodeCamp API Basejump: Image Search Abstraction Layer
      </h1>
    </header>

    <main>
       <div id="userstories">
      <blockquote>
                User stories:
                <ul>1) I can get the image URLs, alt text, and page urls for a set of images relating to a given search string.</ul>
                <ul>2) I can paginate through the responses by adding a ?offset=2 parameter to the URL.</ul>
                <ul>3) I can get a list of the most recently submitted search strings.</ul>
      </blockquote>
        <div id="sampleUse">
      <h3>Example usage:</h3>
          <h4>Example Form for searching image URLs, alt text, and page urls:</h4>
            <code>https://jeuscortez-image-search-abstraction-layer.glitch.me/api/imagesearch/pokemon?offset=2</code><br>
          <h4>Example Form for getting list of the most recently submitted search strings</h4>
            <code>https://jeuscortez-image-search-abstraction-layer.glitch.me/api/latest/imagesearch</code>
        </div>
      </div>
    </main>
    <footer>
      <a target = "_blank" href="https://github.com/jeuscortez">
        Completed By: Jesus Cortez
      </a>
    </footer>
  </body>
</html>
